build/
lib/
bin/
cmake-build-*/
.idea/

Examples/Monocular/mono_euroc
Examples/Monocular/mono_kitti
Examples/Monocular/mono_tum
Examples/RGB-D/rgbd_tum
Examples/Stereo/stereo_euroc
Examples/Stereo/stereo_kitti
Examples/Stereo/stereo_vr
Examples/Stereo/VR/VR_tmp.yaml
Examples/RunEuRoC/EuRoC/*
!Examples/RunEuRoC/EuRoC/*_result.txt
Examples/RunEuRoC/TUM_VI/*
!Examples/RunEuRoC/TUM_VI/*_result.txt
KeyFrameTrajectory*.txt
CameraTrajectory*.txt
Vocabulary/ORBvoc.txt
debug.txt
*.bin
*.pcd
